* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  color: #111;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-size: 3.6rem;
  letter-spacing: .5rem;
}

h2 {
  color: #111;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: .5rem;
}

p {
  color: #111;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

button {
  color: #fff;
  background-color: #0D6EFD;
  border: none;
  border-radius: .4rem;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.secondary-button {

}

.header {
  background-color: #212529;
  height: 5rem;
}

.logo a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;

  float: left;
  margin: 1.2rem 15rem;
}

.nav a {
  color: #8B9D9E;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.5rem;

  
  margin: 1.5rem 1rem;
}

.nav {
  margin: 0 14rem;
  display: flex;
  justify-content: end;
}

.nav a:first-child {
  color: #fff5dd;
}

@media only screen and (max-width:560px) {
  .nav {

  }
}

.container {
  max-width: 80%;
  margin: 4rem auto;
  display: flex;
}

.content {
  display: flex;
  width: 50%;
  height: 40rem;
  background-color: #DEE1E6;
  border-radius: .5rem;
}

.content p {
  font-size: 8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #717479;
  margin: auto;
}

.text {
  width: 50%;
  margin-left: 5rem;
}

.text h1 {
  margin: 9rem 0 0 0;
}

.text p {
  margin: 3rem 0;
  letter-spacing: .2rem;
}

.call-to-action {
  height: 10rem;
  margin: 0 auto;
  width: 80%;
  display: flex;
  background-color: #6C757D;
  border-radius: .5rem;
}

.call-to-action p {
  color: #fff;
  margin: auto;
}

.cards-container {
  max-width: 80%;
  height: 30rem;
  margin: 4rem auto;
  display: flex;
}

.card {
  border: 1px solid #dfdfdf;
  max-width: 30%;
  border-radius: .5rem;
}

.card h2 {
  margin: 2rem 1rem;
  
}

.card p {
  margin: 0 1rem;
}

.card-2 {
  margin: 0 6.1rem;
}

footer {
  width: 100%;
  height: 10rem;
  background-color: #212529;
  display: flex;
}

footer p {
  color: #fff5dd;
  margin: auto;
}